@charset "UTF-8";
@font-face {
  font-family: 'Stolzl';
  src: local("Stolzl Regular"), local("Stolzl-Regular"), url("../font/Stolzl-Regular.woff2") format("woff2"), url("../font/Stolzl-Regular.woff") format("woff"), url("../font/Stolzl-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #060523;
  color: #FFFFFF;
  font-family: 'Stolzl';
}


a {
  text-decoration: none;
  color: #FFFFFF;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 120px;
  position: relative;
}

.title-h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.title {
  margin-top: 107px;
  font-weight: 400;
  font-size: 70px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #F3F3F3;
  font-family: Stolzl;
}

.title span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 187px;
  margin-bottom: 35px;
  margin-top: 20px;
}

.button {
  display: inline-block;
  background: #940076;
  border-radius: 20px;
  padding: 33px 53px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.header .content {
  background-image: url(../img/monkey.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 41px;
}

.subtitle {
  max-width: 487px;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.subtitle:nth-child(4) {
  margin: 10px 0 34px;
}

.header {
  overflow: hidden;
}

.header__ellipse {
  position: absolute;
  content: '';
  width: 706px;
  height: 706px;
  right: 0;
  top: 17px;
  background: #1B045E;
  -webkit-filter: blur(300px);
          filter: blur(300px);
}

.header__data {
  font-family: Stolzl;
  background: #5C0AB1;
  padding-left: 120px;
  left: 0;
  width: 294px;
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: -0.03em;
  position: absolute;
  top: 93px;
}

.info {
  background: linear-gradient(90.81deg, #BB0195 0.18%, #5A0AB1 100%);
  padding: 10px 0;
}

.info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__block:nth-child(2) {
  margin: 0 96px 0 41px;
}

.info__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.info__description {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.ether {
  padding-top: 131px;
  padding-bottom: 187px;
}

.ether__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
}

.ether__video {
  background-image: url("../img/bg_video.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 461px;
  height: 281px;
}

.ether__description {
  margin-left: 38px;
}

.ether__title {
  width: 430px;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.ether__text {
  width: 537px;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -0.01em;
  padding-top: 33px;
}

.ether__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ether__call-text {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.ether__call-text span {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(90.38deg, #BA0196 -0.45%, #5C0AB1 101.61%);
  position: relative;
}

.ether__call-text span::before {
  position: absolute;
  right: -24px;
  top: -5px;
  content: '';
  width: 0;
  height: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #BA0196;
}

.ether__call-button {
  margin-left: 31px;
}

.bg-ellipse {
  position: absolute;
  max-width: 570px;
  width: 100%;
  height: 590px;
  right: 0;
  bottom: 70%;
  background: #510053;
  -webkit-filter: blur(230px);
          filter: blur(230px);
  z-index: -2;
}

.bg-ellipse-img {
  display: block;
  background: url("../img/cripto.png");
  width: 300.57px;
  height: 313.57px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: top right;
  bottom: 80%;
  right: 0;
  z-index: -1;
}

.user {
  position: relative;
  padding-bottom: 142px;
}

.user__title {
  margin-bottom: 51px;
}

.user__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user__block-title {
  padding: 20px 0 10px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.user__block-description {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.03em;
  color: #F3F3F3;
  opacity: 0.8;
}

.user__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__block-item:nth-child(2) {
  margin: 0 40px;
}

.speakers {
  padding-bottom: 170px;
}

.speakers__title {
  margin-bottom: 96px;
  text-align: center;
}

.speakers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.speakers__exp {
  position: absolute;
  top: 90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
}

.speakers__exp::before {
  position: absolute;
  content: '';
  background: url("../img/arrow.png");
  width: 75px;
  height: 7px;
  right: -90px;
}

.speakers__exp::after {
  position: absolute;
  content: '';
  background: url("../img/arrow.png");
  width: 75px;
  height: 7px;
  left: -90px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.speakers__exp-subtitle {
  font-weight: 300;
  font-size: 16px;
}

.speakers__exp-title {
  font-weight: 400;
  font-size: 20px;
}

.speakers__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.speakers__block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.speakers__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 409px;
  width: 100%;
  position: relative;
}

.speakers__block-img::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 372px;
  background: #510053;
  -webkit-filter: blur(130px);
          filter: blur(130px);
  z-index: -1;
}

.speakers__block-img::before {
  position: absolute;
  content: '';
  background: url("../img/spikers_img.png");
  width: 100%;
  height: 118px;
  top: 223px;
  left: -50px;
  z-index: 9;
}

.speakers__block-img img {
  position: relative;
}

.speakers__block-title {
  z-index: 9;
  padding: 11px 0 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.03em;
}

.speakers__block-description {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  width: 382px;
  letter-spacing: -0.03em;
  color: #F3F3F3;
  opacity: 0.8;
}

.speakers__social {
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.speakers__social-link:nth-child(2) {
  margin: 0 22px;
}

.speakers__social-link img {
  width: 48px;
  height: 48px;
}

.timetable {
  position: relative;
}

.timetable__title {
  padding-bottom: 138px;
}

.timetable__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.timetable__item {
  width: 265px;
  height: 349px;
  background: rgba(217, 217, 217, 0.07);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50px;
  margin-right: 83px;
  margin-bottom: 69px;
  padding: 48px 18px 0;
}

.timetable__item-number {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.03em;
  padding-bottom: 55px;
  padding-left: 7px;
}

.timetable__item-description {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.03em;
  color: #F3F3F3;
}

.timetable__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 161px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bitcoin {
  position: absolute;
  background-image: url("../img/bitcoin.png");
  width: 300px;
  height: 313px;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bitcoin__elipse {
  position: absolute;
  width: 520px;
  height: 520px;
  left: 50%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #150095;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  z-index: -1;
}

.ellipse-img {
  position: absolute;
  background-image: url("../img/ellips.png");
  max-width: 512px;
  width: 100%;
  height: 482.27px;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center right -25%;
  z-index: -1;
}

.ellipse-img__bg {
  position: absolute;
  max-width: 968px;
  width: 100%;
  height: 968px;
  right: 0;
  top: -50%;
  background: #36075A;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -2;
}

.ellipse-imgblue {
  position: absolute;
  background-image: url("../img/ellips2.png");
  max-width: 644.22px;
  width: 100%;
  height: 661.5px;
  left: 0;
  bottom: -15%;
  background-repeat: no-repeat;
  z-index: -1;
}

.ellipse-imgblue__bg {
  position: absolute;
  max-width: 836px;
  width: 100%;
  height: 836px;
  left: -50%;
  bottom: -15%;
  background: #1B045E;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  z-index: -2;
}

.bonuse {
  background: rgba(217, 217, 217, 0.07);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 70px;
  margin: 0 98px;
  padding: 49px 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 119px;
}

.bonuse__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.03em;
  position: relative;
}

.bonuse__title::after {
  position: absolute;
  content: '';
  width: 102px;
  height: 105px;
  background: url("../img/bonus.png");
  left: -132px;
  top: -30px;
}

.bonuse__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.03em;
  padding-top: 42px;
  width: 520px;
}

.faq {
  position: relative;
  background-image: url("../img/resurse.png");
  background-repeat: no-repeat;
  background-position: top -13% right 5%;
}

.faq__title {
  margin-bottom: 163px;
  width: 697px;
}

.faq__list {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 65px;
      grid-template-areas: "A A A A" "B B C С" "B B C С";
  margin-bottom: 127px;
}

.faq__list-item {
  width: 460px;
  background: rgba(217, 217, 217, 0.07);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 50px;
  padding: 34px 0 21px;
}

.faq__list-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: A;
}

.faq__list-item:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: B;
}

.faq__list-item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: C;
}

.faq__list-title {
  padding: 0 25px 19px 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.faq__list-description {
  padding: 0 18px 0 13px;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: -0.03em;
  color: #F3F3F3;
  opacity: 0.8;
}

.footer {
  padding-top: 401px;
  position: relative;
  padding-bottom: 91px;
  overflow: hidden;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  padding-left: 29px;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: -0.03em;
  opacity: 0.8;
}

.footer__link {
  display: inline-block;
  margin-left: 91px;
}

.footer__ellipse {
  z-index: -1;
  position: absolute;
  width: 1641.25px;
  height: 528.31px;
  left: 0;
  bottom: -60%;
  background: linear-gradient(90.36deg, rgba(30, 67, 162, 0.8) 9.63%, rgba(145, 13, 145, 0.8) 86.36%);
  -webkit-filter: blur(250px);
          filter: blur(250px);
  -webkit-transform: rotate(-0.93deg);
          transform: rotate(-0.93deg);
}

@media screen and (max-width: 1117px) {

  .content {
    max-width: 850px;
    padding-left: 0;
  }
  .title span {
    margin-left: 302px;
  }
  .user__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .user__block-img img {
    width: 200px;
  }
  .user__block-item:nth-child(2) {
    margin: 0 20px;
  }
  .speakers__exp::before {
    width: 53px;
    right: -61px;
    background-size: contain;
  }
  .speakers__exp::after {
    width: 53px;
    left: -61px;
    background-size: contain;
  }
  .speakers__block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .speakers__block-img img {
    width: 271px;
  }
  .speakers__block-img::before {
    top: 201px;
  }
  .speakers__block-description {
    width: 298px;
    height: 244px;
  }
  .timetable__item {
    margin-right: 0;
  }
  .faq {
    background-position: top -13% right -34%;
  }
  .faq__list-item {
    width: 390px;
  }
  .ellipse-img__bg, .bg-ellipse {
    width: 100%;
    right: 0;
  }
}

@media screen and (max-width: 881px) {
  .content {
    padding: 0 25px;
  }
  .title span {
    margin-left: 219px;
  }
  .subtitle {
    width: 360px;
  }
  .header .content {
    background-position: right -61% bottom;
  }
  .header__data {
    padding-left: 48px;
    width: 226px;
    height: 76px;
  }
  .info {
    padding: 30px 0;
  }
  .info .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__block:nth-child(2) {
    margin: 40px 0;
  }
  .ether__title {
    width: 100%;
  }
  .ether__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ether__video {
    margin-bottom: 20px;
    width: 100%;
  }
  .ether__description {
    margin-left: 0;
  }
  .ether__text {
    width: 100%;
  }
  .ether__call {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .ether__call-text {
    margin-bottom: 20px;
  }
  .ether__call-button {
    margin-left: 0;
  }
  .user__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .user__block-img img {
    width: 100%;
  }
  .user__block-item {
    margin: 40px 0;
  }
  .bg-ellipse {
    width: 100%;
    right: 0;
    bottom: 93%;
  }
  .bg-ellipse-img {
    bottom: 96%;
  }
  .ellipse-img {
    top: -292px;
  }
  .ellipse-img__bg {
    width: 100%;
    right: 0;
  }
  .speakers__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .speakers__block-description {
    width: 100%;
    height: auto;
  }
  .speakers__block-item {
    margin-bottom: 40px;
  }
  .speakers__block-img::before {
    top: 89%;
    left: -71px;
  }
  .speakers__block-img img {
    max-width: 265px;
    width: 100%;
  }
  .speakers__exp {
    display: none;
  }
  .timetable__item {
    width: 100%;
    height: 285px;
  }
  .bitcoin {
    bottom: 40%;
  }
  .bitcoin__elipse {
    top: 40%;
    width: 100%;
  }
  .bonuse {
    margin: 0 10px 119px 10px;
    padding: 49px 21px;
  }
  .bonuse__description {
    width: 100%;
  }
  .faq {
    background-position: top 33% right 108%;
  }
  .faq__title {
    width: 100%;
    margin-bottom: 55px;
  }
  .faq__list {
        grid-template-areas: 'A A A A' 'B B B B' 'C C C C';
  }
  .faq__list-item {
    width: 100%;
  }
  .footer {
    padding-top: 180px;
    background-size: contain;
  }
  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
  .footer__link {
    margin-left: 0;
    margin-top: 20px;
  }
  .footer__ellipse {
    width: 100%;
    -webkit-filter: blur(62px);
            filter: blur(62px);
  }
  .ellipse-imgblue {
    width: 100%;
  }
  .ellipse-imgblue__bg {
    width: 100%;
  }
}

@media screen and (max-width: 368px) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 33px 0;
    width: 100%;
    font-size: 18px;
  }
  .header .content {
    background-position: bottom right -155px;
    background-size: contain;
  }
  .header__data {
    top: 32px;
  }
  .user {
    padding-bottom: 40px;
  }
  .bg-ellipse-img {
    bottom: 83%;
    right: -30%;
  }
  .ellipse-imgblue {
    left: -49%;
  }
  .title-h2 {
    font-size: 24px;
  }
  .timetable__button {
    margin-bottom: 19px;
  }
  .timetable__title {
    padding-bottom: 40px;
  }
  .speakers__title {
    margin-bottom: 40px;
  }
  .ether {
    padding-bottom: 100px;
  }
  .bonuse {
    margin-top: 90px;
  }
  .bonuse__description {
    font-size: 16px;
  }
  .bonuse__title::after {
    left: 9px;
    top: -91px;
  }
  .title {
    font-size: 45px;
    padding-top: 141px;
    margin: 0;
  }
  .title span {
    margin-left: 0;
  }
  .subtitle {
    width: 100%;
  }
  .ether__video {
    height: 171px;
    background-size: contain;
  }
  .ether__title {
    font-size: 28px;
  }
  .speakers {
    padding-bottom: 11px;
  }
  .timetable__item {
    height: auto;
    padding-bottom: 40px;
  }
  .faq__list-description {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */
